#env
NODE_ENV=

#Postgre
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_VOLUME=
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

#node 
PORT=
#DATABASE_URL=
DATABASE_URL=
FRONTEND_ORIGIN=

JWT_SECRET=
JWT_EXPIRES_IN=

API_PUBLIC_URL=

#Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

#Mail
EMAIL_ENABLED=

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASSWORD=

EMAIL_FROM_NAME=
EMAIL_FROM_ADDRESS=
ADMIN_ORDER_EMAIL=