#env
NODE_ENV=

#Postgre
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_VOLUME=
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

#node 
PORT=
#DATABASE_URL=
DATABASE_URL=
FRONTEND_ORIGIN=

JWT_SECRET=
JWT_EXPIRES_IN=

API_PUBLIC_URL=

#Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

#Mail
EMAIL_ENABLED=

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASSWORD=

EMAIL_FROM_NAME=
EMAIL_FROM_ADDRESS=
ADMIN_ORDER_EMAIL=

#CLOUDFLARE TURNSTILE
TURNSTILE_SECRET_KEY=

# META
META_PIXEL_ID=
META_ACCESS_TOKEN=

MONDIAL_RELAY_ENSEIGNE=XXXXXXXX
MONDIAL_RELAY_PRIVATE_KEY=XXXXXXXX
MONDIAL_RELAY_API_URL=https://api.mondialrelay.com/Web_Services.asmx
MONDIAL_RELAY_DEFAULT_COUNTRY=FR
MONDIAL_RELAY_DEFAULT_ACTION=24R

RELAY_REMINDER_JOB_ENABLED=true